/* import for specific fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lemon&family=Young+Serif&display=swap'); 

/* set variables for specific colors/fonts/etc to use anywhere */
:root {
  --color-background: #F5F1EB;
  --color-nav-gradient: linear-gradient(to right, #812E5B, #EA907A, #812E5B);
  --color-box-beige: #F4EBDD; 
  --color-box-gradient1: linear-gradient(to bottom right, #E8F9E8, #EFE7E5);
  --color-box-gradient2: linear-gradient(to bottom right, #EFE7E5, #E8F9E8);
  --color-text-accent: #622245;
  --color-shadow-accent: #BAE8C4;
  --color-border: #812E5B;
  --color-box-static: #ECEFEC;
  --color-box-gradient3: linear-gradient(top to bottom, #FFFFFF, #ECEFEC, #FFFFFF);
  --color-hero-gradient1: linear-gradient(110deg, #BAE8C4, #D5E7D4, #EFE7E5);
  --color-hero-gradient2: linear-gradient(50deg, #EFE7E5, #D5E7D4, #BAE8C4);
  --color-accent-button: #FBBFB0;
  --color-accent-border: #812E5B;

  --shadow-box: 1px 2px 3px rgba(0, 0, 0, 0.2);

  --font-default: 'Young-Serif', Sans-Serif, system-ui;
  --font-accent: 'Lemon'; 

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* #root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
} */

body {
  background: var(--color-background);
  font-family: 'Young Serif';
}

html {
  scroll-behavior: smooth;
}

#About, #Skills, #Projects, #Contact {
    scroll-margin-top: 200px;
}





/* system settings dark mode instead of button
@media (prefers-color-scheme: dark) { */