#About {
    margin-top: 100px;
    margin-bottom: 100px;
}

.main {
    background: var(--color-box-gradient1);
    /* border: 3px solid var(--color-text-accent); */
    border-radius: 11px;

    max-width: 1200px;
    width: 95%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(74, 5, 55, 0.507);
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    font-family: 'Lemon';
    padding: 10px;

    color: var(--color-text-accent);
}

.me img {
    width: 60%;
    height: auto;
    display: block;
    box-shadow: 0 0 6px rgba(130, 49, 115, 0.637);
}

.paragraph p {
    max-width: 600px;

    font-size: clamp(0.8rem, 2vw, 1.15rem);
    line-height: 1.5;
    padding: 15px;
    margin-left: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 180px, 1fr));
    gap: 10px;

    max-width: 1200px;
    width: 95%;
    margin: 42px auto;
}

.cards p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90px;
    color: var(--color-text-accent);

    margin: 0;
    padding: 20px;
}

.cards > div:nth-child(1),
.cards > div:nth-child(2) {
    /* border: 1px solid var(--color-text-accent); */
    border-radius: 11px 65px;
    background: var(--color-box-static);
    box-shadow: 0 3px 7px rgba(74, 5, 55, 0.507);
}

.cards > div:nth-child(3),
.cards > div:nth-child(4) {
    /* border: 1px solid var(--color-text-accent); */
    border-radius: 65px 11px;
    background: var(--color-box-static);
    box-shadow: 0 3px 7px rgba(74, 5, 55, 0.507);
}

.cards div {
    transition: all 0.2s ease;
}

.cards > div:nth-child(1):hover,
.cards > div:nth-child(2):hover {
    transform: translateY(-1.5px) scale(1.001);
    box-shadow: 2px 3px 8px rgba(184, 101, 80, 0.637);
}


.cards > div:nth-child(3):hover,
.cards > div:nth-child(4):hover {
    transform: translateY(-1.5px) scale(1.001);
    box-shadow: 2px 3px 8px rgba(184, 101, 80, 0.637);
}


@media (max-width: 836px) {
    #About {
    margin-top: 30px;
    margin-bottom: 30px;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
    }

    .paragraph p {
        font-size: 16px;
    }

    .cards > div:nth-child(1),
    .cards > div:nth-child(3) {
        /* border: 1px solid var(--color-text-accent); */
        border-radius: 11px 65px;
        background: var(--color-box-static);
        box-shadow: 0 3px 7px rgba(51, 3, 37, 0.507);
    }

    .cards > div:nth-child(2),
    .cards > div:nth-child(4) {
        /* border: 1px solid var(--color-text-accent); */
        border-radius: 65px 11px;
        background: var(--color-box-static);
        box-shadow: 0 3px 7px rgba(51, 3, 37, 0.507);
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .cards p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-text-accent);

        margin: 0;
        padding: 12px;
        font-size: clamp(0.7rem, 3vw, 1rem);
    }

    .me img {
        width: 30%;
        height: auto;
        display: block;
        box-shadow: 0 0 6px rgba(130, 49, 115, 0.637);
    }
}