#Contact {
    max-width: 1150px;
    margin-bottom: 100px;
    margin: 0 auto 100px auto;
}

.contactSection h2 {
    text-align: center;
    color: var(--color-text-accent);
    text-decoration: underline;
    font-family: 'Lemon';
}

.contactBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 20px;

    flex-wrap: wrap;
}

.contactBoxes img {
    width: 30px;
    height: auto;
}

.contactType1 {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 300px;
    
    padding: 50px 80px;

    background: var(--color-box-gradient2);
    border: 1px solid var(--color-text-accent);
    border-radius: 5px 30px;
}

.contactType2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 300px;
    
    padding: 50px 80px;

    background: var(--color-box-gradient1);
    border: 1px solid var(--color-text-accent);
    border-radius: 30px 5px;
}

.emailName,
.linkedInName {
    display: flex;
    justify-content: center;
    gap: 7px;
    color: var(--color-text-accent);
    font-size: 20px;

    padding-bottom: 34px;
}

.contactType1 img, 
.contactType1 span,
.contactType2 img, 
.contactType2 span {
    display: flex;
    align-items: center;
}

.linkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: var(--color-box-beige);
    border: 1px solid var(--color-text-accent);
    padding: 12px;
    border-radius: 11px;

    transition: all 0.2s ease;
}

.linkButton:hover {
    transform: translateY(-1.5px);
    background: rgba(255, 255, 214, 0.698);
    box-shadow: 0 3px 6px rgba(184, 101, 80, 0.637);
}

.linkButton button {
    all: unset;
    cursor: pointer;

}

.linkButton img {
    width: 20px;
    height: auto;
}
