@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Young+Serif:wght@300;400;500;600&display=swap'); 

#Hero{
    color: var(--color-text-accent);
    
    max-width: 1200px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    font-size: 1.5rem;
    margin: 170px auto 300px;
}

.font {
    font-family: 'Lemon';
    text-shadow: 2px 4px 4px var(--color-shadow-accent);
    font-size: 3.5rem;
}

h1 {
    font-weight: 400;
}

.heroName {
    display: flex;
    align-items: center;
    gap: 18px;
}

h2 {
    padding: 14px 0;
    font-weight: 300;
    text-shadow: 3px 3px 3px rgba(49, 5, 40, 0.219);
}

.heroButtons {
    display: flex;
    align-items: center;
}

.heroButtons button {
    display: inline-block;
    border: 1.5px solid var(--color-text-accent);
    box-shadow: 0 3px 7px rgba(51, 3, 37, 0.425);
    border-radius: 16px;
    margin: 10px;
    padding: 10px 18px;
    font-size: 1.1rem;
    font-family: 'Young Serif';

    transition: all 0.2s ease;
}

.heroButtons > button:nth-child(1) {
    background: var(--color-hero-gradient1);
    border-radius: 5px 30px;
}

.heroButtons > button:nth-child(2) {
    background: var(--color-hero-gradient2);
    border-radius: 30px 5px;
}

.heroButtons > button:nth-child(1):hover {
    cursor: pointer;
    transform: translateY(-1.4px) scale(1.006);
    box-shadow: -2px 3px 8px rgba(36, 3, 26, 0.637);
}

.heroButtons > button:nth-child(2):hover {
    cursor: pointer;
    transform: translateY(-1.4px) scale(1.006);
    box-shadow: 2px 3px 8px rgba(36, 3, 26, 0.637);
}

/* .heroButtons > button:nth-child(1):hover {
    background: linear-gradient(200deg, #BAE8C4, #D5E7D4, #EFE7E5);
}

.heroButtons > button:nth-child(2):hover {
    background: linear-gradient(80deg, #BAE8C4, #D5E7D4, #EFE7E5);
} */
