@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Young+Serif:wght@300;400;500;600&display=swap'); 
/* .hero {

} */

#Hero{
    color: var(--color-text-accent);
    margin-top: 170px;
    padding-left: 300px;

    font-size: 26px;
    margin-bottom: 500px;
}

.font {
    font-family: 'Lemon';
    text-shadow: 2px 4px 4px var(--color-shadow-accent);
    font-size: 56px;
}

h1 {
    font-weight: 400;
}

.heroName {
    display: flex;
    align-items: center;
    gap: 18px;
}

h2 {
    padding: 14px 0;
    font-weight: 300;
}
