#Projects {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Projects h2 {
    font-family: 'lemon';
    color: var(--color-text-accent);
    text-decoration: underline;
    margin-bottom: 40px;
}

.projectItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1600px;
    width: 95%;
    align-items: center;
    justify-content: center;
}

.projectCards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
}

.mixlist,
.cinematch {
    display: flex;
    background-color: #ECEFEC; 
    padding: 30px;
    border-radius: 11px;
    box-shadow: 0 1px 6px rgba(184, 101, 80, 0.637);

}

.projectName {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-text-accent);
    font-size: 20px;
}

.MT {
    text-shadow: 1px 1px 3px rgba(178, 120, 216, 0.753);
}

.CM {
    text-shadow: 1px 1px 3px rgba(120, 178, 216, 0.753);
}

.projectName img {
    border-radius: 11px;

    width: 130px;
    object-fit: contain;
}

.desc {
    line-height: 1.5;
    /* no smaller than 0.9 rem, prefer 2% of viewport width, no larger than 1.2 rem */
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    margin-left: 20px;
}

.techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.tech {
    background-color: var(--color-box-beige);
    padding: 5px;
    display: inline-block;
    border-radius: 11px;
    box-shadow: 0 1px 3px rgba(145, 61, 117, 0.637);
    font-size: 13px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselViewport {
    position: relative;
}

.carouselMain {
    display: flex;
    align-items: center;
    min-width: 250px;
    height: auto;
}

.carouselMain img{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 6px rgba(59, 10, 59, 0.713);
    object-fit: cover;
}

.backBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    cursor: pointer;
}

.carouselDots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.carouselDots button {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

}

@media (max-width: 1100px) {
.projectItem {
    max-width: 1000px;;
}
.mixlist,
.cinematch {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECEFEC; 
    padding: 30px;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 1px 1px 8px rgba(184, 101, 80, 0.637);

}
}