#Projects {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Projects h2 {
    font-family: 'lemon';
    color: var(--color-text-accent);
    text-decoration: underline;
    margin-bottom: 40px;
}

.projectItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1600px;
    width: 95%;
    justify-content: center;
}

.projectCards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
}

.mixlistBox,
.cinematchBox {
    display: flex;
    background-color: #ECEFEC; 
    border-radius: 11px;
    box-shadow: 0 1px 6px rgba(184, 101, 80, 0.637);
    align-items: center;
    justify-content: center;
}

.mixlistInfo,
.cinematchInfo {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.projectName {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-text-accent);
    font-size: 20px;
}

.MT {
    text-shadow: 1px 1px 3px rgba(178, 120, 216, 0.753);
}

.CM {
    text-shadow: 1px 1px 3px rgba(120, 178, 216, 0.753);
}

.projectName img {
    border-radius: 11px;

    width: 130px;
    object-fit: contain;
}

.desc {
    line-height: 1.5;
    /* no smaller than 0.9 rem, prefer 2% of viewport width, no larger than 1.2 rem */
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    margin-left: 20px;
    flex: 1;
}

.techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.tech {
    background-color: var(--color-box-beige);
    padding: 5px;
    display: inline-block;
    border-radius: 11px;
    box-shadow: 0 1px 3px rgba(145, 61, 117, 0.637);
    font-size: 13px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.carouselViewport {
    position: relative;
}

.carouselMain {
    display: flex;
    align-items: center;
    min-width: 250px;
    height: auto;
    padding-bottom: 10px;
}

.carouselMain img{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 6px rgba(59, 10, 59, 0.713);
    object-fit: cover;
}

.backBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.backBtn:hover,
.nextBtn:hover {
    color: rgb(161, 145, 161);
}

.carouselDots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -12px;
    left: 50%;
    gap: 5px;
    transform: translateX(-50%);
}

.carouselDots button {
    width: 10px;
    height: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.753);
}

.dot:hover {
    background-color: rgb(190, 155, 216);
    opacity: 0.8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
}

.dotActive {
    background-color: rgb(118, 59, 158);
    opacity: 0.8;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
} 

@media (max-width: 1100px) {
.projectItem {
    max-width: 1000px;;
}

.carouselMain {
    padding-bottom: 15px;
}

.carouselDots {
    bottom: -5px;
}

.mixlistInfo,
.cinematchInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
}