.skillsSection {
    background: var(--color-box-gradient2);
    /* border: 3px solid var(--color-text-accent); */
    border-radius: 11px;

    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    
    width: 95%;
    margin: 0 auto;

    box-shadow: 1px 1px 20px rgba(74, 5, 55, 0.507);

    gap: 12px;
}

.skillsLeft {
    align-items: flex-start;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
}

.skillsLeft h2 {
    color: var(--color-text-accent);
    text-shadow: 4px 4px 3px rgba(61, 12, 55, 0.123);
    text-align: center;
    text-decoration: underline;
    margin-top: 8px;
    padding-bottom: 50px;
    font-family: 'Lemon';
}

.skillsLeft p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 8px;
}

.skillsBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 8px;

    white-space: nowrap;
    background: var(--color-box-beige);
    border: 1px solid var(--color-text-accent);
    box-shadow: 0 3px 7px rgba(51, 3, 37, 0.507);
    border-radius: 11px;
    padding: 10px;
    transition: all 0.2s ease;
}

.skill:hover {
    transform: translateY(-1.2px) scale(1.002);
    box-shadow: 0 3px 6px rgba(184, 101, 80, 0.637);
}
/* orange hover rgba(145, 61, 117, 0.637); */


.skill img {
    width: 50px;
    height: auto;
}

@media (max-width: 836px) {
    .skillsSection {
        display: flex;
        flex-direction: column;
    }

    .skillsLeft h2 {
        padding-bottom: 10px;
        text-align: center;
    }

    .skillsLeft p {
      font-size: 17px;
      padding: 4px;
    }

    .skill {
        display: flex;
        font-size: 12px;
    }

    .skill img {
        width: 30px;
        height: auto;
    }

}


/*
.skillsBox {
    display: grid;
    flex: 2;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    font-family: Arial;
    font-weight: bold;

    gap: 8px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 8px;

    background: var(--color-box-beige);
    border: 2px solid var(--color-text-accent);
    border-radius: 11px;
    padding: 10px;
} */
